.product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.product-shop{
    display: flex;
    flex-direction: row;
}
.product-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 23%;
}