.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    /* margin-left: 30px;*/
}
.productImg{
    width: 100%;
    height: auto;
}
.text-left{
    text-align: left;
}
.cartIcon{
    display: flex;  
    justify-content: center;
    
}