.cardlist-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card-container{
    width: 20%;
    margin: 10px;
}
/* .cardList{
    display: flex;
    flex-direction: row;
    flex:4
} */

