.hotList{
    display: flex;
    width: 100%;
}
.hotList ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.scrollList{
    display: flex;
    width: 100%;
}
/* .hotList ul li{
    width: 100%;
} */
