.signup_box_container{
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.container-form{
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.bg-signup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;
  /* width: 100%; */
}
.bg-image{
 display: flex;
 width: 100%;
 height: auto;
}
.bg-text {
  display: flex;
  text-align: center;
  position: absolute;
  flex-direction: column;
  width: 60%
}
.bg-signup .bg-text h3{
  color: white;
  font-size: 35px;
}
.bg-signup .bg-text h1{
  color:green;
  font-size: 60px;
  font-family: cursive;
}
.signup_box {
  font-family: Fondamento;
  display: flex;
  background-color:white;
  border: groove;
  border-color: black;
  flex-direction: column;
  width: 30%;
}
.signup_box h4{
  color: #b7b7b7;
  margin-bottom: 50px;
}
.form-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: start;
  text-align: start;
}
.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-start;
}
.user-name{
  display: flex;
  flex-direction: column;
}
#username{
  display: flex;
  border-radius: 10px;
  height: 60px;
  border-color: black;
}
.pass input[type=password]{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-color: black;
  height: 60px;
}

.confirm-pass{
  display: flex;
  flex-direction: column;
}
#confirm-password{
  display: flex;
  border-radius: 10px;
  border-color: black;
  height: 60px;
}
.email{
  display: flex;
  flex-direction: column;
}
#email{
  display: flex;
  border-radius: 10px;
  border-color: black;
  height: 60px;
}
.check{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  height: 60px;
}

.signup_btn{
  /* margin-top: 25px; */
  height: 40px;
  /* width: 35%; */
  border-radius: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  /* -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;  */
}
.check input[type=checkbox]{
  margin-right: 10px;
}
.btn-ok{
  background-color: tomato;
}
/* .signup_box label{
  padding-left: 5px;
  font-family: monospace;
}  */
